# Ignore everything
*

# But not these files...
!.gitignore
!Main.cpp

# ...even if they are in subdirectories
!*/

# placeholder for subdirectory files to include
#!*/libraries/
#!*/otherFutureDirectories
